body
{
    background: #9c835f;
}
a
{
    /* text-decoration: none; */
    color: black;
}

.choice img
{
    width: 35%;
}

#choice img:hover
{
    background-color: #C4C4C4;
    padding: 15px;
    cursor: pointer;
}

.versus h1
{
    color: #BD0000;
    font-size: 100px;
}

.refresh
{
    width: fit-content; 
}

.refresh img
{
    width: 10%;
}

.refresh img:hover
{
    padding: 3px;
    background-color: #C4C4C4;
    cursor: pointer;
}



